* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    list-style: none;
    text-decoration: none;
}

:root {
    /* color */
    --color-primary: #1f1f1f;

    /* font-weight */
    --font-weight-lg: 400;


}

body {
    font-family: 'Inter', sans-serif;

}

button {
    font-family: inherit;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

nav {
    max-width: 1440px;
    padding: 25px 160px 25px 160px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    margin: auto;


}

nav img {
    height: 40px;
    width: 40px;
    border-radius: 1px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 200px;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    gap: 30px;

}

.nav-btn {
    display: flex;

    gap: 20px;

    border-radius: 5px;
}

.btn {
    border: 1px;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;

}

.resume-button,
.hireme-button {
    background-color: white;
    padding: 8px 10px 8px 10px;
    border: 1px solid #C4C4C4;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover,
.hireme-button:hover {
    background-color: #6763e2;
    color: #fff;
}

.hero-section {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    margin-top: 450px;
    margin-bottom: 450px;
}

.intro {
    text-align: center;
    padding: 50px;
}

.intro h1 {
    font-size: 72px;
    color: var(--color-primary);
    line-height: 79.2px;
    font-weight: var(--font-weight-lg);
    margin-bottom: 10px;
}

.intro p {
    font-size: 24px;
    color: var(--color-primary);
    line-height: 29.05px;
    font-weight: 300;
}

.arrow {
    text-align: center;

}

.fa-angles-down{
   font-size: 32px;
}



.about {
    background: #F2F2F2;

    margin-top: 50px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 255px 120px 225px;
    margin: auto;


}

.about-content {
    display: flex;
    align-items: center;
    gap: 79px;
    margin-top: 50px;
}

.about-content p {
    max-width: 551px;
    font-size: 16px;
    line-height: 27.2px;
    font-weight: var(--font-weight-lg);
}

.about-content img {
    margin-top: -50px;
    height: 300px;
    width: 300px;
}

.about-me-container,
.contact-header {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.about-me-container hr,
.contact-header hr {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 0 10px;
    border: 1px solid var(--color-primary);
}

.about-me-text,
.contact-text {
    display: inline-block;
    /* position: relative; */
    padding: 0 10px;
    font-size: 36px;
    line-height: 43.57px;
    font-weight: var(--font-weight-lg);
    color: var(--color-primary);
}


.contact-section {
    max-width: 1440px;

    /* text-align: center; */
    margin: 0 auto;
}

.contact-header {
    margin-top: 100px;
    margin-bottom: 80px;
}

.contact-box {
    max-width: 550px;
    text-align: center;

    margin: 0 auto;
}

.msg-btn {

    background-color: #fff;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    margin-top: 120px;
    margin-bottom: 50px;
    cursor: pointer;
    line-height: 19px;
    font-size: 16px;
    font-weight: var(--font-weight-lg);
}

.msg-btn:hover {
    background-color: #254580;
    color: #fff;
}

.contact-icon {
 
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 32px;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F2F2F2;
    text-align: center;
    padding: 20px 10px 20px 10px;
    
}
